.productsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  grid-row-gap: 20px;
  grid-column-gap: 75px;
  justify-items: center;
  justify-content: center;

  .product {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    img {
      width: 100%;
    }

    p {
      font-family: Roboto;
      text-align: center;
      font-weight: bolder;
    }

    button {
      border: none;
      border-radius: 3px;
      padding: 5px 10px;
      cursor: pointer;
    }

    button:hover {
      background-color: #cecece;
    }
  }
}
